@media (min-width: 960px) {
  .navbar-nav {
    gap: 70px;
  }
}
.bottom_icon{
  font-size: 24px;
}
#carouselExampleIndicators {
  max-height: 600px; 
  margin: auto; 
}
#carouselExampleIndicators img {
  object-fit: cover; 
  height: 600px; 
}
#stats_header{
  color: rgb(46, 46, 46);
  font-weight: 500;
  font-size: 44px;
}
#stats_p{
  color: rgb(50, 50, 50);
  font-size: 18;
  font-weight: 400;
}
.card-header{
  color:rgb(33, 37, 41);
  font-size: 32;
  font-weight: 500;
}
.card-paragraph{
  color: rgb(99, 99, 99);
  font-size: 18;
  font-weight: 400;
}
.fixed-size {
  width: 150px; /* Sabit genişlik */
  height: 150px; /* Sabit yükseklik */
  object-fit: cover; /* Resmin oranını koruyarak alanı doldurur */
  border-radius: 10px; /* Opsiyonel: Köşeleri yuvarlamak için */
}
.fixed-icon-size {
  width: 100px; /* Sabit genişlik */
  height: 100px; /* Sabit yükseklik */
  object-fit: cover; /* Resmin oranını koruyarak alanı doldurur */
  border-radius: 10px; /* Opsiyonel: Köşeleri yuvarlamak için */
}
.solutions-header{
  color: rgb(0, 179, 210);
  font-size: 32px;
  font-weight: bold;
}
.big-company-image{
  height: 50vh;  Makes the image fill the viewport height */
  object-fit: cover; /* Ensures the image scales correctly without distortion */
}
.contact-card{
  background-color:rgb(246, 249, 252);
}
.contact-card-header{
  color: rgb(46, 71, 93);
  font-weight: 500;
}
body{
  font-family: "Inter", sans-serif;                       
}


/* --------------------------------------------------------------------------------------------------------------------------*/
/* HEADER */
.navbar {
  background-color: #394048 !important; /* Arka plan rengini değiştirir */
  color: #ffffff; /* Metin rengini beyaz yapar */
  
}

.navbar .nav-link {
  color: #ffffff; /* Linklerin rengini beyaz yapar */
  --bs-navbar-active-color: #00aced; /* Products listesi aktifken bu rengi alır */
}

.navbar .nav-link:hover {
  color: #00aced; /* Hover durumunda renk değişimi */
}


/* HEADER BITIS*/
/* --------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------------------------------------*/
/* FOOTER */

footer {
  background-color: #394048;
  color: #eeeeee;
    width: 100%;
    position: relative; /* Alternatif: fixed */
    bottom: 0;
    padding: 15px 0;
    text-align: center;
}
.text-foot {
  color: #eeeeee ;
}

/* FOOTER BITIS*/
/* --------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------------------------------------------------------------------*/
/* CONTACT */
.map-container {
  max-width: 2000px; /* Genişliği kontrol eder */
  max-height: 700px;
  height: auto; /* Oranı korur */
  margin: 0 auto; /* Ortalamak için */
}


.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}


/* CONTACT BITIS*/
/* --------------------------------------------------------------------------------------------------------------------------*/

